


<div class="container">

  <div class="mt-2">
    <h3>Search Customers</h3>
    <div class="mb-3">
      
      <input type="text" style="width: 300px;" placeholder="Enter Here"
      class="form-control" (keyup)="filtercust($event)">
    </div>
  </div>

    <table style="width: 900px;" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell mat-sort-header *matHeaderCellDef><strong>Name</strong>  </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="username">
          <th mat-header-cell  mat-sort-header *matHeaderCellDef><strong>User Name</strong> </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef><strong>Email</strong>  </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator style="width: 900px;" 
              [pageSize]="3"
              [pageSizeOptions]="[3, 6, 10, 100]"
              aria-label="Select page">
</mat-paginator>

      

</div>